#Don't track these folders
bin/
obj/
Properties/

#types of files
.csproj
.config
/T1/AprendendoCSharp/.vs/AprendendoCSharp/v15
/T1/AprendendoCSharp
*.config
*.csproj
*.txt
*.exe
/T1/ByteBank/.vs/ByteBank/v15
*.sln
/.gitattributes
/T1/ByteBank 2/ByteBank/.vs/ByteBank/v15/Server/sqlite3
/T1/ByteBank 2/ByteBank/.vs/ByteBank/v15/.suo
/T1/ByteBank 2/ByteBank/.vs/ByteBank/v15
/T1/CaelumEstoque/packages/jQuery.Validation.1.11.1
/T1/Html e CSS3/imgs
/T1/CursoDesignPatterns/.vs/CursoDesignPatterns/v16
/T1/CaelumEstoque/packages/Newtonsoft.Json.5.0.6
/T1/CaelumEstoque/packages/Microsoft.Web.Infrastructure.1.0.0.0
/T1/CaelumEstoque/packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0
/T1/CaelumEstoque/packages/Microsoft.AspNet.WebPages.3.0.0
/T1/CaelumEstoque/packages/Microsoft.AspNet.WebApi.WebHost.5.0.0
/T1/CaelumEstoque/packages/Microsoft.AspNet.WebApi.Core.5.0.0
/T1/CaelumEstoque/packages/Microsoft.AspNet.WebApi.Client.5.0.0
/T1/CaelumEstoque/packages/Microsoft.AspNet.WebApi.5.0.0
/T1/CaelumEstoque/packages/Microsoft.AspNet.Razor.3.0.0
/T1/CaelumEstoque/packages/Microsoft.AspNet.Mvc.5.0.0
/T1/CaelumEstoque/packages/jQuery.1.10.2
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/tools/install.ps1
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/tools/init.ps1
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/tools/EntityFramework.psm1
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/tools/EntityFramework.psd1
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/tools/EntityFramework.PowerShell.Utility.dll
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/tools/EntityFramework.PowerShell.dll
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/tools
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/lib/net45/EntityFramework.xml
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/lib/net45/EntityFramework.SqlServer.xml
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/lib/net45/EntityFramework.SqlServer.dll
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/lib/net45/EntityFramework.dll
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/lib/net45
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/lib/net40/EntityFramework.xml
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/lib/net40/EntityFramework.SqlServer.xml
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/lib/net40/EntityFramework.SqlServer.dll
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/lib/net40/EntityFramework.dll
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/lib/net40
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/lib
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/EntityFramework.6.1.0.nuspec
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/EntityFramework.6.1.0.nupkg
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/content/Web.config.transform
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/content/App.config.transform
/T1/CaelumEstoque/packages/EntityFramework.6.1.0/content
/T1/CaelumEstoque/packages/EntityFramework.6.1.0
/T1/CaelumEstoque/.vs/CaelumEstoque/v16
*.suo
/T1/CaelumEstoque/UpgradeLog.htm
